<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.FileMapper">
	
	<insert id="insertFile" parameterType="MyFileDto">
	INSERT INTO FILE_TB(FILENAME,ORIGIN)
	VALUES (#{filename},#{origin})
	</insert>
	<select id="selectAll" resultType="MyFileDto">SELECT * FROM FILE_TB </select>
	<select id="selectOne" parameterType="int" resultType="MyFileDto">
	SELECT * FROM FILE_TB WHERE FNO=#{fno}
	</select>

	<insert id="tinsertFile" parameterType="MyFileDto">
	INSERT INTO FILE_TRIP(FILENAME,ORIGIN)
	VALUES (#{filename},#{origin})
	</insert>
	<select id="tselectAll" resultType="MyFileDto">SELECT * FROM FILE_TRIP </select>
	<select id="tselectOne" parameterType="int" resultType="MyFileDto">
	SELECT * FROM FILE_TRIP WHERE FNO=#{fno}
	</select>
</mapper>